* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  margin: 0px auto;
  padding: 0px;
  max-width: 1200px;
}
a {
  color: #000;
  text-decoration: none;
}
header {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.logo {
  height: 70px;
}
header ul {
  display: flex;
  align-items: end;
  font-size: 26px;
  list-style: none;
  margin-right: 20px;
}
header ul li {
  padding: 10px 0px;
  margin: 5px 10px;
  border-bottom: 1px solid #000;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin: 30px 0px;
}
.main-text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}
.photo {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.hockey {
  width: 100%;
}
.item {
  position: relative;
  overflow: hidden;
}
.hider {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #00000090;
  transition: all 0.2s;
}
.item:hover {
  .hider {
    left: 0;
  }
}
.hider p {
  color: #fff;
  margin: 20px;
  font-size: 18px;
  border: 1px solid #fff;
  height: 90%;
}
.about {
  background: #f1f1f1;
  padding: 20px;
  margin: 20px 0;
}
.about-sveto {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.about-story:hover,
.story-modal {
  cursor: pointer;
}
footer {
  width: 100%;
  height: 50px;
  background-color: #000;
}
.story-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #00000090;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}
.img-modal {
  width: 70%;
}
.open {
  display: flex;
}
